.App {
  text-align: center; 
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sidebar {
  position: absolute; /* Position sidebar relative to its container */
  top: 10px; /* Position at the top of the container */
  left: 10px; /* Position at the left of the container */
  width: 10px; /* Adjust width as needed */
  height: 10%; /* Take up the full height of the container */
  background-color: #f0f0f0; /* Adjust background color as needed */
  z-index: 100; /* Ensure sidebar appears above other content */
  transition: transform 0.3s ease; /* Add transition effect for smooth appearance */
}

.sidebar-container {
  position: absolute; /* Position container relative to its containing element */
}

.sidebar.open {
  transform: translateX(0); /* Slide sidebar into view */
}

.sidebar.closed {
  transform: translateX(-100%); /* Slide sidebar out of view */
}

.sidebar-icon {
  font-size: 24px;
  position: absolute; /* Position sidebar icon relative to its container */
  top: 10%; /* Adjust top position as needed */
  left: auto; /* Adjust left position as needed */
  cursor: pointer; /* Add cursor pointer for interaction */
}

.main-content {
  margin: 0; /* Adjust margin to accommodate sidebar width */
  padding: 0;
  transition: margin 0.3s ease; /* Add transition effect for smooth adjustment */
  min-height: calc(100vh - 34px);
}

.main-content.sidebar-open {
  margin-left: 10px; /* Adjust margin to accommodate open sidebar */
}

.create-form {
  width: 75%;
  padding: 30px; 
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Drop shadow for depth */
  margin: 0 auto; /* Center horizontally */
  direction: Column; 
  justify-content: Center; 
  align-items: Center; 
}

.special-elite-regular {
  font-family: "Special Elite", system-ui;
  font-weight: 400;
  font-style: normal;
}

.footer {
  margin-top: 0px; /* Push the footer to the bottom */
  bottom: 0;
  left: 0; 
  position: fixed;  
}

.custom-btn:hover {
  transform: scale(1.2);
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  font-weight: bold;
}

main{ 
  flex-grow: 1;
  }

